html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header, .hero, .footer{
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    position: sticky;
    top: 0;
}

.left {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding: 12px;
}

a:hover {
    color: #F9FAF8;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 8rem;
}

.about {
    width: 50%;
}

.figure {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.figure img {
    width: 100%;
}

.primary {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 1.5rem;
}

.hero_btn {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 12px 24px;
    border-radius: 0.5rem;
    border: 2px solid #3882F6;
}

.hero_btn:hover {
    border: 2px solid #F9FAF8;
}

.course_heading {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 2rem;
    text-align: center;
    margin-bottom: 4rem;
}

.courses {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 8rem;
}

.course {
    width: 150px;
}
.course img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border: 0.25rem solid #1F2937;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.course p {
    font-size: 18px;
    color: #1A1814;
    text-align: center;
}

.testimonials {
    background-color: #E5E7EB;
    padding: 8rem;
}

.testimonial {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
}

.author {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    margin-right: 4rem;
}